/.venv
/telegram_bot_module/session.session
session.b64
.env
telegram_bot.log
/telegram_bot_module/__pycache__/
/Free_API_Load_balancer/.env
/Free_API_Load_balancer/config_local.yaml
.python_packages
/session_b64.txt